<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>portal</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
    		classpath:com/stone/base/config/*.xml,
            classpath:spring.xml
    </param-value>
  </context-param>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>
    		classpath:log4j.properties
    </param-value>
  </context-param>
  <context-param>  
    <param-name>proxoolConfigLocation</param-name>  
  	<param-value>WEB-INF/classes/proxool.xml</param-value>
</context-param>  
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
 <filter-mapping>
    <filter-name>shiroFilter</filter-name>
    <url-pattern>/user/*</url-pattern>
    <url-pattern>/use/*</url-pattern>
    <url-pattern>/shop/*</url-pattern>
    <url-pattern>/sho/*</url-pattern>
  </filter-mapping>
  
  
  
  
  
  
  
<!--    <filter> -->
<!--         <filter-name>userFilter</filter-name> -->
<!--         <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> -->
<!--     </filter> -->
<!--     <filter-mapping> -->
<!--         <filter-name>userFilter</filter-name> -->
<!--         <url-pattern>/use/*</url-pattern> -->
<!-- 		<url-pattern>/user/*</url-pattern> -->
<!--     </filter-mapping> -->
<!--     <filter> -->
<!--     <filter-name>shopUserFilter</filter-name> -->
<!--     <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> -->
<!--   </filter> -->
<!--   <filter-mapping> -->
<!--     <filter-name>shopUserFilter</filter-name> -->
<!--     <url-pattern>/shop/*</url-pattern> -->
<!--     <url-pattern>/sho/*</url-pattern> -->
<!--   </filter-mapping> -->
<!--   <filter> -->
<!--     <filter-name>adminFilter</filter-name> -->
<!--     <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> -->
<!--   </filter> -->
<!--   <filter-mapping> -->
<!--     <filter-name>adminFilter</filter-name> -->
<!--     <url-pattern>/adm/*</url-pattern> -->
<!--     <url-pattern>/admin/*</url-pattern> -->
<!--   </filter-mapping> -->
  
    <!-- 
  <filter> 
	<filter-name>userFilter</filter-name>
	<filter-class>com.stone.user.filter.UserFilter</filter-class>
 </filter>
 <filter-mapping>
 	<filter-name>userFilter</filter-name> 
	<url-pattern>/use/*</url-pattern>
  <url-pattern>/user/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>shopUserFilter</filter-name>
    <filter-class>com.stone.user.filter.ShopUserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>shopUserFilter</filter-name>
    <url-pattern>/shop/*</url-pattern>
    <url-pattern>/sho/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>adminFilter</filter-name>
    <filter-class>com.stone.user.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>adminFilter</filter-name>
    <url-pattern>/adm/*</url-pattern>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
   -->
   
   
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern> *.do</url-pattern>
    <url-pattern> *.htm</url-pattern>
    <url-pattern> *.html</url-pattern>
  </servlet-mapping>
<!--   <servlet> -->
<!--     <servlet-name>proxoolServletConfigurator</servlet-name> -->
<!--     <servlet-class>org.logicalcobwebs.proxool.configuration.ServletConfigurator</servlet-class> -->
<!--     <init-param> -->
<!--       <param-name>xmlFile</param-name> -->
<!--       <param-value>WEB-INF/classes/proxool.xml</param-value> -->
<!--     </init-param> -->
<!--     <load-on-startup>1</load-on-startup> -->
<!--   </servlet> -->
  <servlet>
    <servlet-name>proxooladmin</servlet-name>
    <servlet-class>
		org.logicalcobwebs.proxool.admin.servlet.AdminServlet
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>proxooladmin</servlet-name>
    <url-pattern>/proxooladmin</url-pattern>
  </servlet-mapping>
  
<listener>  
    <listener-class>org.logicalcobwebs.proxool.configuration.ListenerConfigurator</listener-class>  
</listener>  
  
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>500</error-code>
    <location>/resource/error/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/resource/error/404.html</location>
  </error-page>
  <error-page>
    <error-code>400</error-code>
    <location>/resource/error/400.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/resource/error/exception.jsp</location>
  </error-page>
</web-app>