<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.stone.cms.mapper.TCmsContentMapper" >
  <resultMap id="BaseResultMap" type="com.stone.cms.model.TCmsContent" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="KEYWORDS" property="keywords" jdbcType="VARCHAR" />
    <result column="CATEGORY_ID" property="categoryId" jdbcType="INTEGER" />
    <result column="FROM" property="from" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="ADMIN_ID" property="adminId" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.stone.cms.model.TCmsContent" extends="BaseResultMap" >
    <result column="CONTENT" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, TITLE, KEYWORDS, CATEGORY_ID, `FROM`, `STATUS`, ADMIN_ID, CREATE_TIME, UPDATE_TIME
  </sql>
  <sql id="Blob_Column_List" >
    CONTENT
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_cms_content
    where ID = #{id,jdbcType=INTEGER}
  </select>
  
  
   <select id="selectList" resultMap="ResultMapWithBLOBs" parameterType="com.stone.cms.model.TCmsCategory">
    select 
    *
    from t_cms_content
    <where>
			<if test="title != null and title != '' ">
				AND TITLE = #{title}
			</if>
			<if test="categoryId != null and categoryId != '' ">
				AND CATEGORY_ID = #{categoryId}
			</if>
			<if test="status != null and status != '' ">
				AND STATUS = #{status}
			</if>
			<if test="adminId != null and adminId != '' ">
				AND ADMIN_ID = #{adminId}
			</if>
		</where>
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_cms_content
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.stone.cms.model.TCmsContent" useGeneratedKeys="true" keyProperty="id" >
    insert into t_cms_content (TITLE, KEYWORDS, CATEGORY_ID, 
      `FROM`, `STATUS`, ADMIN_ID, 
      CREATE_TIME, UPDATE_TIME, CONTENT
      )
    values (#{title,jdbcType=VARCHAR}, #{keywords,jdbcType=VARCHAR}, #{categoryId,jdbcType=INTEGER}, 
      #{from,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{adminId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.stone.cms.model.TCmsContent" useGeneratedKeys="true" keyProperty="id" >
    insert into t_cms_content
    <trim prefix="(" suffix=")" suffixOverrides="," >
      TITLE,
      KEYWORDS,
      CATEGORY_ID,
      `FROM`,
      `STATUS`,
      ADMIN_ID,
      CREATE_TIME,
      UPDATE_TIME,
      CONTENT,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{title,jdbcType=VARCHAR},
      #{keywords,jdbcType=VARCHAR},
      #{categoryId,jdbcType=INTEGER},
      #{from,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER},
      #{adminId,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP},
      #{content,jdbcType=LONGVARCHAR},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stone.cms.model.TCmsContent" >
    update t_cms_content
    <set >
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        KEYWORDS = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        CATEGORY_ID = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="from != null" >
        `FROM` = #{from,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        `STATUS` = #{status,jdbcType=INTEGER},
      </if>
      <if test="adminId != null" >
        ADMIN_ID = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.stone.cms.model.TCmsContent" >
    update t_cms_content
    set TITLE = #{title,jdbcType=VARCHAR},
      KEYWORDS = #{keywords,jdbcType=VARCHAR},
      CATEGORY_ID = #{categoryId,jdbcType=INTEGER},
      `FROM` = #{from,jdbcType=VARCHAR},
      `STATUS` = #{status,jdbcType=INTEGER},
      ADMIN_ID = #{adminId,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      CONTENT = #{content,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stone.cms.model.TCmsContent" >
    update t_cms_content
    set TITLE = #{title,jdbcType=VARCHAR},
      KEYWORDS = #{keywords,jdbcType=VARCHAR},
      CATEGORY_ID = #{categoryId,jdbcType=INTEGER},
      `FROM` = #{from,jdbcType=VARCHAR},
      `STATUS` = #{status,jdbcType=INTEGER},
      ADMIN_ID = #{adminId,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>