<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.stone.tuan.mapper.TTuanTextMapper" >
  <resultMap id="BaseResultMap" type="com.stone.tuan.model.TTuanText" >
    <id column="tuan_id" property="tuanId" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="detail" property="detail" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    tuan_id, description, detail
  </sql>
  
<select id="selectByTuanId" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List" /> from t_tuan_text where tuan_id =#{tuan_id}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_tuan_text
    where tuan_id = #{tuanId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.stone.tuan.model.TTuanText" useGeneratedKeys="true" keyProperty="tuanId" >
    insert into t_tuan_text (tuan_id,description, detail)
    values (#{tuanId},#{description,jdbcType=VARCHAR}, #{detail,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.stone.tuan.model.TTuanText" useGeneratedKeys="true" keyProperty="tuanId" >
    insert into t_tuan_text
    <trim prefix="(" suffix=")" suffixOverrides="," >
      description,
      detail,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{description,jdbcType=VARCHAR},
      #{detail,jdbcType=LONGVARCHAR},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stone.tuan.model.TTuanText" >
    update t_tuan_text
    <set >
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where tuan_id = #{tuanId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.stone.tuan.model.TTuanText" >
    update t_tuan_text
    set description = #{description,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=LONGVARCHAR}
    where tuan_id = #{tuanId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stone.tuan.model.TTuanText" >
    update t_tuan_text
    set description = #{description,jdbcType=VARCHAR}
    where tuan_id = #{tuanId,jdbcType=INTEGER}
  </update>
</mapper>