.region_category{
	display:block;
}

.user_group{
	display:none;
}
.navigation_ad{
	display:none;
}

.product_shop{
	display:none;
}
.order{
	display:none;
}

.cms{
	display:none;
}
.navigation_ad{
	display:none;
}

.message{
	display:none;
}

.system{
	display:none;
}