.main{
	position: absolute;width:90%;left:50;
	border: solid green;
}
.main .list{
	position:relative;padding: 20;
	/**border: solid red;*/
}
.main .list .item{
	position:relative;margin-bottom:10;font-size: 22;text-align: left;width:90%;background-color: #B8B8B8;
	/**border: solid yellow;*/
}
.main .list .item .name{
	padding: 5;
	/**background-color: #E8E8E8;*/
}
.main .list .item .comment{
	padding: 5;margin-top: 10;
	/**background-color: #E8E8E8; */
}
.main .rs{
	position:relative;text-align:center;width:90%;font-size: 20;float;left;margin-top:10px;
	/**border: solid red;*/
}